   
body {
    margin-left: 100px; margin-right: 100px;
    background-color: black;
}
.ul-menu {
    list-style: none; 
    display: flex;
    justify-content: space-between; 
    background-color: rgb(20, 169, 255); 
    padding: 10px;
}
.li-menu {
    flex-grow: 1;
    margin: 5px;
}

body{
    font-family: sans-serif;  
    background: #fff;
    text-decoration: none; 
}

footer { 
    border: 1px solid black;
    font-family: sans-serif;
    background: #87CEEB; 
}
#carouselExampleIndicators {
    width: 600px;
    align-items: center;
}
.conteudo-1 {
    display: table-cell;
    float: left;  
    background-image: url('Imagens/logo.png') ;
    border: 2px;
    border-radius: 20px;
    
}
    
.conteudo-2 {
    display: table-cell;
    float: left; 
    background-image: url('Imagens/logo.png') ;
    border: 2px;
    border-radius: 20px;
}
    
.imagen-historia {
    display: block;
    float: left;
    height: 400px;
    width: 680px;
    padding-right: 30px;
}
#carouselExampleIndicators {
    text-align: center;
    margin: auto;
    
}
.texto1 {
    margin: auto;
}

.formulario {
    padding: 100px;
    background-color: rgb(56, 146, 230);
    margin-right: 300px;
    margin-bottom: 200px;
    margin-top: 400px;
}
.imagen-pq {
    display: block;
    float: left;
    height: 400px;
    width: 680px;
    padding-right: 30px;
}
.card-1 {
    background-color: #87CEEB;
    float: left;
    margin-left: 0px;
    width: 18rem;
    margin-top: 25px;
    
    
}
.card-2 {
    float: right;
    background: #87CEEB;
    width: rem;
    
   
}
.card-img-top {
    height: 250px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


