body {
    margin-left: 100px; 
    margin-right: 100px;
    font-family: sans-serif;  
    background: #fff;
    text-decoration: none; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#logo > img {
    width: 70px;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;  
}

.ul-menu {
    list-style: none; 
    display: flex;
    justify-content: space-between; 
    background-color: rgb(20, 169, 255); 
    padding: 10px;
}

.li-menu {
    flex-grow: 1;
    margin: 5px;
}

footer { 
    border: 1px solid black;
    font-family: sans-serif;
    background: #87CEEB; 
}

.section-1 {
    background-image: url('Imagens/logo.png');
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 10px;
}

.conteudo-1 {
    display: table-cell;
    float: left;  
    border: 2px;
    border-radius: 20px;
    overflow: hidden;
}
    
.conteudo-2 {
    display: table-cell;
    float: left; 
    border: 2px;
    border-radius: 20px;
}
    
.imagen-historia {
    display: block;
    float: left;
    height: 400px;
    width: 680px;
    padding-right: 30px;
}

.texto1 {
    margin: auto;
}

#formulario {
    padding: 100px;
    border-radius: 10px;
}

.imagen-pq {
    display: block;
    float: left;
    height: 400px;
    width: 680px;
    padding-right: 30px;
}

.card-1 {
    background-color: #87CEEB;
    float: left;
    margin-left: 0px;
    width: 18rem;
    margin-top: 25px;
    padding: 10px;  
}

.card-2 {
    background-color: #87CEEB;
    float: right;
    width: 18rem;
    padding: 10px;   
}

.card-img-top {
    height: 250px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.destaque {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    align-items: flex-start;
    margin: 50px 0;
}

.iten-destaque {
    width: 20%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao-destasque {
    display: flex;
    flex-direction: column;
}

.title-destaque {
    font-weight: bold;
    margin-top: 5px;
}

.texto-destaque {
    text-align: center;
}

.imagen-destaque {
    width: 100%;
    margin: auto;
    height: 210px;
    object-fit: cover;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

#nossa-equipe {
    background-color: whitesmoke;
    padding: 1% 0;
    width: 100%;
    border-radius: 0.5px;
}

#nossa-equipe-card {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row; 
}

.go-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#footer-section {
    background-color: transparent !important;
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.imagen-destaque:hover {
    -webkit-transform: scale(1.1) rotate(0);
    transform: scale(1.1) rotate(0);
}
